@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
$font: 'Bangers', cursive;

.link {
    font-family: $font;
    font-size: 1.875rem;
    border-radius: 10px;
}
.admin-btn {
    margin-bottom: .625rem;
    width: 20%;
}
.welcome {
    font-size: 2.5rem;
    font-family: $font;
}
