{% extends "base.html.twig" %}

{% block body %}


    <div class="row">
        {% for image in images %}
            <article>
                    <a href="{{ path('portfolioImageShow', {id: image.id}) }}"><img class="photo" src="{{ vich_uploader_asset(image)|imagine_filter('thumbnail_small') }}" alt="{{ 'tattoo'}}" /></a>
                </article>
        {% endfor %}
    </div>


{% endblock %}