{% extends 'base.html.twig' %}

{% block title 'Wicked Needle - Home'%}

{% block body %}
    <div class="pres border-dark rounded mt-10">
        <h1 class="text-center mt-5">Wicked Needle Tatoo</h1>
        <p class="text-center">Bonjour à tous !! <br>
            Mike et Betty sont heureux de vous accueillir dans leur tattoo shop afin d'étudier tout projet de tatouage ainsi que de piercing. <br>
            En attendant de savoir quel tatoo vous souhaitez, n'hésitez pas à visiter la page 'TATTOOS' où se trouvent nos oeuvres. <br>
            Pour ceux qui sont déjà passés sous nos aiguilles vous êtes invités à laisser vos commentaires et avis dans le livre d'or. <br>
            Merci et à très bientôt chez nous.
        </p>
    </div>

{% endblock %}